 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Trang Chủ</a></li>
                        <li>Thanh Toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="checkout_page_bg">
    <div class="container">
        <div class="Checkout_section">
        
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_left">
                            <form [formGroup]="hoadonForm" (ngSubmit)="onSubmit(hoadonForm.value)">
                                <h3>Thông Tin Khách Hàng</h3>
                                <div class="row">
                                    <div class="col-lg-12 mb-20">
                                        <p>
                                        <label>Họ Và Tên <span>*</span></label>
                                        <input  formControlName="ho_ten" type="text">
                                        <span class="col alert alert-danger" role="alert"
                                        *ngIf="(hoadonForm.controls.ho_ten.errors?.required
                                        && hoadonForm.controls.ho_ten.touched) && hoadonForm.controls.ho_ten.touched" >
                                                Họ tên không được để trống!
                                        </span>
                                    </p>    
                                    </div>
                                    <div class="col-lg-12 mb-20">
                                        <p>
                                        <label>Địa chỉ <span>*</span></label>
                                        <input  formControlName="dia_chi" type="text">
                                        <span class="col alert alert-danger" role="alert"
                                        *ngIf="(hoadonForm.controls.dia_chi.errors?.required
                                        && hoadonForm.controls.dia_chi.touched) && hoadonForm.controls.dia_chi.touched" >
                                        Địa chỉ không được để trống!
                                        </span>
                                    </p>    
                                    </div>
                                    <div class="col-12 mb-20">
                                        <p>
                                        <label>Số điện thoại <span>*</span> </label>
                                        <input formControlName="sodt"  type="text">
                                        <span class="col alert alert-danger" role="alert"
                                *ngIf="(hoadonForm.controls.sodt.errors?.required
                                && hoadonForm.controls.sodt.touched) && hoadonForm.controls.sodt.touched" >
                                Số điẹn thoại không được để trống!
                                </span>
                                    </p>     
                                    </div>
                                    <div class="col-12 mb-20">
                                        <p>
                                        <label>Email <span>*</span></label>
                                        <input formControlName="email"  type="text">
                                        <span class="col alert alert-danger" role="alert"
                                        *ngIf="(hoadonForm.controls.email.errors?.required
                                        && hoadonForm.controls.email.touched) && hoadonForm.controls.email.touched" >
                                        Email không được để trống!
                                        </span>
                                    </p>     
                                    </div>  
                                    <div class="payment_method">
                                        <div class="order_button">
                                            <button  type="submit">Thanh Toán Đơn Hàng</button> 
                                        </div>    
                                    </div> 	    	    	    
                                </div>
                            </form> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_right">
                            <!-- <form action="#">     -->
                                <h3>Hóa Đơn Của Bạn</h3> 
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Sản Phẩm</th>
                                                <th>Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let it of items2">
                                                <td>{{it.item_name}} <strong> × {{it.quantity}}</strong></td>
                                                <td> {{it.money | currency: "VND"}}<td>
                                            </tr> 
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tổng phụ giỏ hàng</th>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th>Đang chuyển hàng</th>
                                                <td><strong>0</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <th>Tổng đơn hàng</th>
                                                <td><strong>{{total | currency: "VND" }}</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>     
                                </div>
                            <!-- </form>  -->
                        </div>        
                    </div>
                </div> 
            </div>        
        </div>
    </div>
</div>
<!--Checkout page section end-->
 <!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="col-12">
            <div class="brand_container owl-carousel ">
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand7.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand8.jpg" alt=""></a>
                    </div>
                </div>
                 <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->

<!--newsletter area start-->
<div class="newsletter_area newsletter_padding">
    <div class="container">
        <div class="newsletter_inner">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="newsletter_container">
                        <h3>THEO DÕI CHÚNG TÔI</h3>
                        <p>Chúng tôi giúp việc hợp nhất, tiếp thị và theo dõi trang web truyền thông xã hội của bạn trở nên dễ dàng.</p>
                        <div class="footer_social">
                           <ul>
                               <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                               <li><a class="twitter" href="#"><i class="icon-twitter2"></i></a></li>
                               <li><a class="rss" href="#"><i class="icon-rss"></i></a></li>
                               <li><a class="youtube" href="#"><i class="icon-youtube"></i></a></li>
                               <li><a class="google" href="#"><i class="icon-google"></i></a></li>
                               <li><a class="instagram2" href="#"><i class="icon-instagram2"></i></a></li>
                           </ul>
                       </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="newsletter_container">
                        <h3>BẢN TIN NGAY</h3>
                        <p>Tham gia cùng hơn 60.000 người đăng ký và nhận phiếu giảm giá mới vào thứ Tư hàng tuần.</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter" >
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                                <button id="mc-submit">Đăng Ký</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="newsletter_container col_3">
                        <h3>TẢI ỨNG DỤNG</h3>
                        <p>Ứng dụng VanHieu hiện đã có trên Google Play & App Store. Lấy nó ngay.</p>
                        <div class="app_img">
                           <ul>
                               <li><a href="#"><img src="assets/img/icon/icon-app.jpg" alt=""></a></li>
                               <li><a href="#"><img src="assets/img/icon/icon1-app.jpg" alt=""></a></li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--newsletter area end-->