  <!--footer area start-->
  <footer class="footer_widgets">
    <!--shipping area start-->
    <div class="shipping_area shipping_padding">
        <div class="container">
            <div class="shipping_inner">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao Hàng Miễn Phí</h4>
                        <p>Đối với tất cả các khách trên 500k</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao Hàng Miễn Phí</h4>
                        <p>Đối với tất cả các khách trên 500k</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao Hàng Miễn Phí</h4>
                        <p>Đối với tất cả các khách trên 500k</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping4.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao Hàng Miễn Phí</h4>
                        <p>Đối với tất cả các khách trên 500k</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping5.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Giao Hàng Miễn Phí</h4>
                        <p>Đối với tất cả các khách trên 500k</p>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <!--shipping area end-->
    <div class="footer_top top_depult_p">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <h3>THÔNG TIN LIÊN LẠC</h3>
                        <div class="footer_contact">
                           <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="assets/img/icon/icon-phone.png" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>Hotline Miễn phí 24/24: <br> <strong><a href="tel:+(+800)123456789">(+84) 332347468</a> </strong></p>
                                </div>
                            </div>
                            <p>Chúng tôi là một nhóm các nhà thiết kế và nhà phát triển tạo ra các Template HTML, Woocommerce, Shopify Theme chất lượng cao. </p>
                            <p>  The Barn, Henley ở Arden B578. Nước Anh. Hỗ trợ @ eCommerce.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                   <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>THÔNG TIN</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html"> Về chúng tôi</a></li>
                                    <li><a href="#">Thông tin giao hàng</a></li>
                                    <li><a href="#">Sản phẩm mới</a></li>
                                    <li><a href="#">Hàng bán tôt nhât</a></li>
                                    <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                    <li><a href="#">lịch sử đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>DỊCH VỤ KHÁCH HÀNG</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="my-account.html">
                                        Tài khoản của tôi</a></li>
                                    <li><a href="cart.html">Giỏ hàng</a></li>
                                    <li><a href="wishlist.html">Danh sách mong muốn</a></li>
                                    <li><a href="#">Giá giảm</a></li>
                                    <li><a href="#">lịch sử đơn hàng</a></li>
                                    <li><a href="#">Đơn hàng quốc tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>TÀI KHOẢN CỦA TÔI</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">
                                        Sơ đồ trang web</a></li>
                                    <li><a href="#">Thông tin giao hàng</a></li>
                                    <li><a href="#">Đặc biệt</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Bổ Sung</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Thương Hiệu</a></li>
                                    <li><a href="#">Chi Nhánh</a></li>
                                    <li><a href="#">Đặc Biệt</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Thanh Toán & Phương Thức</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Phương thức thanh toán</a></li>
                                    <li><a href="my-account.html">Tài Khoản thanh toán</a></li>
                                    <li><a href="#">Xem ưu đãi của mình</a></li>
                                    <li><a href="#">Địa điểm giao hành</a></li>
                                    <li><a href="#">Thơi gian giao hàng ước tính</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>Bản quyền &copy; 2020 <a href="#">VanHieu</a>  Mọi thứ bản quyền.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="footer_payment text-right">
                        <img src="assets/img/icon/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
<!--footer area end-->